<ion-content class="login-background">
    <img class="logo" padding src="../assets/imgs/midesk.png" />
    <ion-card>
        <ion-card-header>ĐĂNG NHẬP</ion-card-header>
        <ion-card-content>
            <form [formGroup]="loginForm" (ngSubmit)="loginForm.valid && onFormSubmit()" id="login-form" ngNativeValidate>
                <ion-list no-line>
                    <!-- <ion-item *ngIf="invalidCredentialMsg">
					{{invalidCredentialMsg}}
				</ion-item> -->
                    <ion-item>
                        <ion-input type="text" placeholder="Email" name="email" required="required" formControlName="email"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-input type="password" placeholder="Mật khẩu" name="password" required="required" formControlName="password"></ion-input>
                    </ion-item>
                </ion-list>
                <a>Quên mật khẩu?</a>
                <button [disabled]="!loginForm.valid" ion-button block outline color="light" type="submit"><ion-spinner *ngIf="submitLoading" name="bubbles"></ion-spinner>Đăng Nhập</button>
            </form>
        </ion-card-content>
    </ion-card>
</ion-content>