app-modal-search{
	.list-ticket .item-ios{
		border-bottom:0.55px solid #c8c7cc;
	}
	.list-ticket .item-inner{
		border:none!important;
	}
	.item-inner .date-bagde-ticket{
		font-size:0.7em!important;
		margin:0!important;
	}
	.item-inner .date-bagde-ticket ion-badge{
		border-radius:2px!important;
		margin:0 0 15px 7px!important;
		padding:2px 5px!important;
		color:white;
	}
	.loading-search{
		align-content:center;
		display:flex;
		flex-direction:column;
		justify-content:center;
		text-align:center;
	}
	.toolbar-background-md,.toolbar-background-ios{
		background:#FFF!important;
	// }
	}
	// .bar-buttons-md,.bar-buttons-ios{
	// 	padding-top:5px;
	// }
	.toolbar-md{
		min-height: inherit;
	}
	.margin-header-icon{
		margin:5px!important;
	}
	.text-input-ios{
		margin:13px 8px 11px 0!important;
	}
	// .header-ios::after{
	// 	left: 0;
 //    	bottom: -5px;
 //    	background-position: left 0 top -2px;
 //    	position: absolute;
 //    	width: 100%;
 //    	height: 5px;
 //    	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAHBAMAAADzDtBxAAAAD1BMV…h/TXEAAAAaSURBVAjXYxCEAgY4UIICBmMogMsgFLtAAQCNSwXZKOdPxgAAAABJRU5ErkJggg==);
 //    	background-repeat: repeat-x;
 //    	content: "";
	// }
}