<ion-header>

  <ion-navbar>
  	<ion-buttons><button ion-button menuToggle><ion-icon name="menu"></ion-icon></button></ion-buttons>
		<ion-title>Khách Hàng</ion-title>
		<ion-buttons end><button ion-button><ion-icon name="search"></ion-icon></button></ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
	<div padding *ngIf="loading">
		<ion-spinner text-center name="crescent"></ion-spinner>
	</div>
	<ion-list *ngIf="!loading">
		<ion-item *ngFor=" let item of modelCustomer.dataItems " (click)="customerProfile(item)">
			<ion-avatar item-start class="customer-avatar margin-vertical" [ngStyle]="{'background':item.color}">{{item.customer|firstNlast}}</ion-avatar>
			<p class="name">{{item.customer}}</p>
			<p class="phone">Điện thoại: <span *ngIf="item.phone!=='' && item.phone!==null">{{item.phone}}</span><span *ngIf="item.phone==='' || item.phone===null">chưa có</span></p>
		</ion-item>
	</ion-list>
	<ion-infinite-scroll *ngIf="modelCustomer.loadMore" (ionInfinite)="doInfinite($event)">
	    <ion-infinite-scroll-content></ion-infinite-scroll-content>
	</ion-infinite-scroll>
	<ion-refresher *ngIf="!loading" (ionRefresh)="doRefresh($event)">
	    <ion-refresher-content></ion-refresher-content>
	</ion-refresher>
</ion-content>
<ion-footer no-lines>
	<ion-buttons (click)="openAddCustomer()" float-right style="padding:0 5px 5px 0"><button class="btn-add-customer"><ion-icon name="person-add"></ion-icon></button></ion-buttons>
</ion-footer>
