modal-requester {
	.toolbar-background-ios{
		background-color: transparent;
		color:#000;
	}
	// .header-ios .toolbar-ios:last-child .toolbar-background-ios{
	// 	border-width: 0 0 1.55px!important;
	// }
	.name-item{
		color:black;
	}
}
