
<ion-header>
  <ion-navbar>
  	<ion-buttons><button ion-button menuToggle><ion-icon name="menu"></ion-icon></button></ion-buttons>
    <ion-buttons *ngIf="section=='segment1' && !edit" (click)="editProfile()" float-right><button ion-button><ion-icon name="create"></ion-icon></button></ion-buttons>
    <ion-buttons *ngIf="section=='segment1' && edit" (click)="updateProfile()" float-right><button ion-button><ion-icon name="checkmark"></ion-icon></button></ion-buttons>
    <ion-buttons *ngIf="section=='segment1' && edit" (click)="closeEdit()" float-right><button ion-button><ion-icon name="close"></ion-icon></button></ion-buttons>
  </ion-navbar>
	<ion-grid no-padding style="background:#2cd094">
		<ion-row>
			<ion-col col-12 text-center><ion-avatar text-center [ngStyle]="{'background':customerProfile.color}" class="customer-avatar">S</ion-avatar></ion-col>
			<ion-col col-12 text-center><p style="color:white" no-margin>{{customerProfile.customer}}</p></ion-col>
		</ion-row>
		<ion-row>
			<ion-segment color="whitee" [(ngModel)]="section">
			    <ion-segment-button value="segment1">
			      Personal Detail
			    </ion-segment-button>
			    <ion-segment-button [disabled]="edit" value="segment2">
			      Recent Ticket
			    </ion-segment-button>
			  </ion-segment>
		</ion-row>
	</ion-grid>
</ion-header>
<ion-content padding >
	<div [ngSwitch]='section' *ngIf="!loading">
	<ion-grid *ngSwitchCase="'segment1'" >
		<ion-list *ngIf="!edit">
			<ion-item class="customer-info" (click)="openAddTicket()" *ngIf="customerProfile.email!==''">
				<ion-avatar item-start><ion-icon color="midesk" name="mail"></ion-icon></ion-avatar>
				<p class="title">Email</p>
				<p>{{customerProfile.email}}</p>
			</ion-item>
			<ion-item class="customer-info" *ngIf="customerProfile.phone!==''">
				<ion-avatar item-start><ion-icon color="midesk" name="call"></ion-icon></ion-avatar>
				<p class="title">Phone</p>
				<p>{{customerProfile.phone}}</p>
			</ion-item>
			<ion-item class="customer-info" *ngIf="customerProfile.address!==''&&customerProfile.address!==null">
				<ion-avatar item-start><ion-icon color="midesk" name="card"></ion-icon></ion-avatar>
				<p class="title">Address</p>
				<p>{{customerProfile.address}}</p>
			</ion-item>
			<ion-item class="customer-info" *ngIf="customerProfile.channel!==''">
				<ion-avatar item-start><ion-icon color="midesk" name="desktop"></ion-icon></ion-avatar>
				<p class="title">Channel</p>
				<p>{{customerProfile.channel}}</p>
			</ion-item>
		</ion-list>
		<ion-list *ngIf="edit" no-lines>
			<ion-item class="customer-info">
				<ion-avatar item-start><ion-icon color="midesk" name="text"></ion-icon></ion-avatar>
				<p class="title">Name</p>
				<input no-margin class="text-input text-input-md input-edit" (keyup)="onInsertData($event,$type='customer')" [(ngModel)]="modelEdit.customer" type="text"/>
			</ion-item>
			<ion-item class="customer-info">
				<ion-avatar item-start><ion-icon color="midesk" name="call"></ion-icon></ion-avatar>
				<p class="title">Phone</p>
				<input no-margin class="text-input text-input-md input-edit" (keyup)="onInsertData($event,$type='phone')" [(ngModel)]="modelEdit.phone" type="text"/>
			</ion-item>
			<ion-item class="customer-info">
				<ion-avatar item-start><ion-icon color="midesk" name="card"></ion-icon></ion-avatar>
				<p class="title">Address</p>
				<input no-margin class="text-input text-input-md input-edit" (keyup)="onInsertData($event,$type='address')" [(ngModel)]="modelEdit.address" type="text"/>
			</ion-item>
		</ion-list>
	</ion-grid>
	<ion-grid no-padding *ngSwitchCase="'segment2'" >
		<ion-list no-padding *ngIf="customerTicket.length>0">
			<ion-item *ngFor="let item of customerTicket" class="customer-ticket" (click)="openTicketDetail(item)" no-padding>
				<ion-avatar class="box-ticket" item-start><ion-icon color="midesk" name="pricetags"></ion-icon></ion-avatar>
				<p class="title">#{{item.ticket_id}} - {{item.title}}</p>
				<p class="description">{{item.created_at| date: 'dd/MM'}} | {{item.status}}</p>
			</ion-item>
		</ion-list>
		
			<p *ngIf="customerTicket.length<=0">Không tìm thấy dữ liệu</p>
		
	</ion-grid>
	</div>
	<div *ngIf="loading">
		<ion-spinner text-center name="bubbles"></ion-spinner>
	</div>
</ion-content>